{layout="layouts/.main"}
{layout:set name="header"}
{/layout:set}
{layout:set name="content"}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Welcome Home</h1>
			</div>
		</div>
	</div>
{/layout:set}
{layout:set name="scripts"}
{/layout:set}
