// BASE
body {
	font-size: 14px;
	font-family:$baseFont;
}

//BASIC TEXT
	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 15px;
		line-height: 1.25em;
		color: $blue;
		font-weight: bold;
	}
	
	h1 {
		font-size: 2.5em;
	}
	
	h2 {
		font-size: 2em;
	}
	
	h3 {
		font-size: 1.75em;
	}
	
	h4 {
		font-size: 1.5em;
	}
	
	h5 {
		font-size: 1.25em;
	}
	
	h6 {
		font-size: 1em;
	}
	
	p {
		font-size: 1em;
		line-height: 1.5em;
		margin-bottom: 15px;
		color: $gray;
		font-family: helvetica;
		
		a{
			color: $red;
			transition: all .3s linear;
			-moz-transition: all .3s linear;
			-ms-transition: all .3s linear;
			-webkit-transition: all .3s linear;
			-o-transition: all .3s linear;
				
			&:hover {
				opacity: .5;
				color: $red;
			}
		}
	}
	
	blockquote {
		padding: 25px;
		margin-bottom: 15px;
		border-left: 8px solid;
		font-size: 1.25em;
		line-height: 1.25em;
		background-color: white;
	}
	
	a{
		text-decoration: underline;
		
		&:hover {
		}
	}
	
	strong, b, .strong {
		font-weight: bold;
	}
	
	em, i {
		font-style: italic;
	}
	
	.uppercase {
		text-transform: uppercase;
	}
	
//LISTS
	ul, ol {
		margin: 0 0 15px 40px;
		color: $gray; 
		li {
			font-size: .9em;
			line-height: 1.35em;
			margin-bottom: 10px;
		}
	}		
	
	ul li {
		list-style-type: circle;
	}
	
	ol li {
		list-style-type: decimal;
	}
	
//FORMS	
	label {
		display: block;
		text-transform: uppercase;
		font-weight: bold;
		margin: 10px 0 4px 0;
	}
	
	input[type="text"],input[type="number"],input[type="email"],input[type="password"],textarea{
		padding: 10px;
		width: 100% !important;
		margin-bottom: 10px;
		border:1px solid ;		
		font-size: .9em;
		line-height: 1.1em;
		border:1px solid $lightGray;
		background-color: rgba(255,255,255,.85);
	}
	
	textarea{
		min-height: 100px;
	}
	
	select {
		width: 100% !important;
		margin-bottom: 10px;
		background-color: #fff;
		border:1px solid;	
		height: 36px;
	}

//BUTTONS
	.button, button, input[type="submit"]{
		display: inline-block !important;
		background-color: $blue;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: white;
		border: 0px;
		margin-bottom: 15px;
		transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-webkit-transition: all .3s linear;
		-o-transition: all .3s linear;
		border: 2px solid #fff;
		&:hover {
			background-color: $gray;
			color: white;
			text-decoration: none;
			opacity: .6;
		}
		&.full{
			width: 100%;
			display: block;
		}
	}

// IMAGES
	.shadow{
		box-shadow: 0 0 20px rgba(0,0,0,.5);
		border:3px solid white;
	}
	
// COLOR HELPERS
	
	.white{
		color: white !important;
	}
	
	.whiteBG{
		color: $blue;
		background-color: white !important;
	}
	
	.red{
		color: $red !important;
	}
	
	.redBG{
		color: white;
		background-color: $red !important;
	}
	
	.blue{
		color: $blue !important;
	}
	
	
	.blueBG{
		color: white;
		background-color: $blue !important;
	}
	
	.gray{
		color: $gray !important;
	}
	
//SPACE HELPERS
	.noMargin {
		margin: 0px !important;
	}
	
	.smallMargin {
		margin:0 0 5px 0!important;
	}
	
//FANCYBOX

	.fancybox-overlay {
		background-image: transparent !important;
		opacity: .9;
	}
	
	.fancybox-inner {
		min-width: 300px;
		
		hr {
			border-bottom: 1px solid;
		}
		
		input[type="submit"]{
			width: 100%;
		}
	}
	
	.fancybox-opened, .fancybox-skin {
		box-shadow: none !important;
		border-radius: 5px !important;
	}
	
//IFRAMES

	.intrinsic-container {
	  position: relative;
	  height: 0;
	  overflow: hidden;
	}
	 
	/* 16x9 Aspect Ratio */
	.intrinsic-container-16x9 {
	  padding-bottom: 56.25%;
	}
	 
	/* 4x3 Aspect Ratio */
	.intrinsic-container-4x3 {
	  padding-bottom: 75%;
	}
	 
	.intrinsic-container iframe {
	  position: absolute;
	  top:0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
	
// WELLS

	a.well{
		display: block;
		text-decoration: none;
		transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-webkit-transition: all .3s linear;
		-o-transition: all .3s linear;
		&:hover {
			opacity: .5;
		}
	}